    body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#contact {
    width: 98vw;
    height: 120vh;
    background-image: url('/assets/images/photos/alexandre-lecocq-Y5nIFhQlzlo-unsplash.jpg');
    background-size: cover;
    background-position: 0px -20px;
    overflow: hidden;
}

#contact .page-header {
    font-size: 40px;
    margin-inline-start: auto;
    display: inline;
}

form {
    margin: 0, auto;
    width: 400px;
    padding: 1em;
    border: 1px solid var(--orange);
    border-radius: 1em;
}

form div+div {
    margin-top: 1em;
    display: inline-block;
}

form>label {
    font-size: 50em;
    color: var(--orange);
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    font: 1em sans-serif;
    box-sizing: border-box;
    border: 3px solid var(--orange);
}

input:focus,
textarea:focus {
    border-color: var(--orange);
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

.button {
    padding-left: 100px;
}

button {
    margin-top: .5em;
    border-color: var(--black);
    border-radius: 1em;
}

select {
    font: 1em sans-serif;
    box-sizing: border-box;
    border: 3px solid var(--orange);
}

@media (min-width: 576px) {
    #contact.page header {
        background-image: url('/assets/images/photos/alexandre-lecocq-Y5nIFhQlzlo-unsplash.jpg');
        background-position: 0px -22vw;
    }