#contact.page {
    flex-direction: column;
}

.Cformulario {
    width: 100%;
    padding: 30px;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.Cformulario p {
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
}

.Cfield {
    width: 100%;
    margin: 5px 0;
    align-items: center;
}

.Cfield label {
    padding-left: 10px;
    font-size: 1.1em;
    width: 150px;
}

input[type=text], input[type=date], input[type=time], input[type=tel], textarea, select {
    width: 100%;
    padding-left: 10px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--orange-foo);
    border: 1px solid var(--black);
    outline: none;
    color: var(--white);
}

textarea {
    line-height: 20px;
    padding: 10px;
    height: 90px;
    background-color: var(--white);
    border: 1px solid var(--black);
    color: var(--black);
    margin: 5px 0;
}

form button {
    display: block;
    background-color: var(--orange-foo);
    color: var(--white);
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 150px;
    margin: 15px auto;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}

.Cimg {
    display: none;
}

@media (min-width:576px) {

    .Cformulario {
        width: 490px;
    }

    .Cimg {
        display: flex;
        width: 40%;
        background-image: url("/assets/images/photos/alexandre-lecocq-Y5nIFhQlzlo-unsplash@2.png");
        background-size: cover;
        background-position: center;
        flex: 1;
        overflow: hidden;
    }
    .Csection {
        display: flex;
        flex-direction: row;
        max-height: 550px;
    }
}

@media (min-width: 992px) {
    .Cformulario {
        width: 50%;
        padding: 30px;
        border-radius: 5px;
        position: relative;
    }
    .Cformulario p {
        width: 100%;
        font-size: 1.5em;
        font-weight: bold;
    }
    .Cfield {
        width: 100%;
        margin: 5px 0;
        align-items: center;
    }
    .Cfield label {
        padding-left: 10px;
        font-size: 1.1em;
        width: 150px;
    }
}