
#contact.page {
    flex-direction: column;
}
#contact.page header {
    background-image: url("/assets/images/photos/andi-whiskey-Mz_BqbdUDH0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    /* filter: brightness(0.5); */
    color: var(--white);
    
}

#contact.page .page-header {
    display: flex;
    flex-direction: column;
}

#contact.page .page-header h1 {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 150px 0 10px 20px;
    font-size: 3em;
    line-height: .7em;    
}

#contact.page .page-header h1 span{
    margin: 0;
    font-size: .5em;
    font-weight: normal;
}

#contact.page .page-header hr {
    margin: 0;
    width: 100%;
    height: 5px;
    border:none;
    border-radius: 0;
    background-color: var(--orange)
}
.Cformulario{
    width: 400px;
    padding: 30px;
    border-radius: 5px;
    position: absolute;
    float: left;
    
}
.Cformulario p{
    width: 100%;
    font-size: 1.5em;
}
.Cfield {
    width: 100%;
    margin: 15px 0;
}
.Cfield label, 
.Cfield span
 {
    padding-left: 10px;
    font-size: 1.1em;
    display: inline;
        
}

input[type=text],
input[type=date],
input[type=time],
input[type=tel],
textarea, select{
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    background-color: var(--orange);
    border: 1px solid var(--black);
    outline: none;
}

textarea {
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
    background-color: var(--white);
    border: 1px solid var(--black) ;
}
    .Cimg {
    background-image: url('/assets/images/photos/alexandre-lecocq-Y5nIFhQlzlo-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0%;
    width: 50%;
    height: 78%;
    justify-content: flex-end;
    float: right;
    margin-top: 231px;
   
    
}
form button {
    display: block;
    background-color: var(--orange);
    color: var(--white);
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 15px auto;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}
    