
#gallery.page .images {
    flex-direction: column;
}


#gallery.page .images img {
    width: 100%;
}

#gallery.page  .page-header, h1 {
    flex-direction: column;
}



@media (min-width:576px) {

    #gallery.page .images {
        flex-direction: column;
       
    }
    
 
}

@media (min-width: 992px) {
    
     #gallery.page .page-header {
        background-position: 0px -15vw;
        background-size: cover;
        } 

    #gallery.page .images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;

    }

    #gallery.page .images img {
        width: 32vw;
        margin-bottom: 20px;
        margin-left: 10px;
    }

    #gallery.page .images picture:hover {
        opacity: 0.5;
        transition: opacity .35s;
    }

    #gallery h1 {
        color: var(--white);
    }

    #gallery.page .page-header picture figcaption {
    color: var(--white);
    }



 
}

@media (min-width: 1200px) {
    
    #gallery.page .page-header {
        background-image: url('/assets/images/photos/tow-black-hair-clippers-1570806.png');
        background-position: 0px -15vw;
        background-size: cover;
        }

    #gallery.page .images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }

    #gallery.page .images img {
        width: 32vw;
        margin-bottom: 20px;
        margin-left: 10px;
    }

    h1 {
        color: var(--white);
    }

    #gallery.page .page-header picture figcaption {
    color: var(--white);
    }



 
}