#header {
    height: 25%;
    background-image: url('/assets/images/photos/andi-whiskey-Mz_BqbdUDH0-unsplash.jpg');
    background-size: cover;
    opacity: 0.6;
    width: 100%;
}

#header button {
    background: none;
    border: none;
    padding: 13px;
    outline: none;
}


@media (min-width: 576px) {


}


@media (min-width: 1200px) {
    #header {
        height: 200px;
        background-position: 0px -201px;
    }

    hr {
        height: 12px;
        width: 100%;
        background-color: var(--orange);
        border: none;
        margin: 0;
    }

    #header .menu #logo {
        max-width: 130px;
        z-index: 5;
        position: relative;
        align-items: center;
    }

    #btn-open, #btn-close {
        display: none;
    }

    #header .menu ul {
        width: 100%;
        height: initial;
        background-color: initial;
        position: static;
        right: initial;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    #header .menu li {
        flex: 1;
        min-width: 150px;
        list-style: none;
        color: var(--white);
    }

    #header .menu a {
        text-decoration: none;
        color: var(--white);
        font-size: 40px;
    } 
} 