
#home.home-page {
    flex-direction: column;
}
#home.home-page header {
    background-image: url("/assets/images/photos/several-scissors-1319460.jpg");
    background-size: cover;
    background-position: center;
    /* filter: brightness(0.5); */
    color: var(--white);
    min-height: 88vh;
}

#home.home-page .home-header {
    display: flex;
    flex-direction: column;
    
}

#home.home-page .home-header h1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    padding: 0;
    font-size: 3em;
    line-height: .9em;
    text-shadow: black 2px 3px 5px;    
}

#home.home-page .home-header h1 span{
    margin: 0;  
    font-size: .4em;
    color: var(--white);
    font-weight: normal;
}

#home.home-page .home-header hr {
    margin: 0;
    width: 100%;
    height: 5px;
    border:none;
    border-radius: 10px;
    background-color: var(--orange)
}

#home.home-page .our-history  {
    background-image: linear-gradient(var(--black), var(--grey)), url("/assets/images/photos/kamile-leo-wKo5Rzv0_aM-unsplash.jpg");
    background-size: cover;
    background-position: left;
    background-blend-mode: multiply;
    color: var(--white);
}

#home.home-page .text {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 30px;

}

#home.home-page .text h2 {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 2em;   
}

#home.home-page .our-history .text p {
    padding: 5px;
    margin-right: 15px;
    font-size: 1.2em;
    color: var(--grey);
}

#home.home-page .testimonials {
    display: flex;
    flex-direction: column  ;
    background-color: var(--bg-testimonials);
    color: var(--white);
}

#home.home-page .testimonials .text {
    margin: 0;
}


#home.home-page .testimonials .text h2 {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: var(--orange);
}

#home.home-page .testimonials .testimonial-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px 40px 70px 40px;
}

#home.home-page .testimonials .testimonial-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    border-radius: 10px;
    padding: 20px;
    margin: 40px 0;
}

#home.home-page .testimonials .testimonial-list li img {
    margin-top: -70px;
    width: 110px;
    height: 110px;
    border-radius: 100px;
}

#home.home-page .testimonials .testimonial-list li p {
    margin: 5px;
    font-size: 1.2em;
    line-height: 1em;
}

#home.home-page .testimonials .testimonial-list li p.coment {
    padding-top: 15px;
}

#home.home-page .testimonials .testimonial-list li p span {
    padding-left: 10px;
    border-radius: 10px;
    font-weight: bold;
}

@media (min-width: 576px) {
    #home.home-page .home-header h1 {
        font-size: 4em;
        line-height: .7em;
        margin-top: 120px;
    }
    
    #home.home-page .home-header h1 span{  
        font-size: .4em;
    }


    #home.home-page .testimonials .testimonial-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #home.home-page .testimonials .testimonial-list li {
        margin: 40px 20px;
        max-width: 40%;
    }
}

@media (min-width: 992px) {
    #home.home-page header {
        min-height: 91vh;
    }

    #home.home-page .home-header h1 {
        font-size: 5em;
        line-height: .7em;
        margin-top: 150px;
    }
    
    #home.home-page .home-header h1 span{  
        font-size: .4em;
    }

    #home.home-page .text {
        padding: 70px;
    }
        
    #home.home-page .text h2 {
        font-size: 3em;   
    }

    #home.home-page .our-history .text p {
        font-size: 1.5em;
    }

    #home.home-page .testimonials .text h2 {
        font-size: 3em;
    }

    #home.home-page .testimonials .testimonial-list li p {
        font-size: 1.2em;
        line-height: 1em;
    }

    #home.home-page .testimonials .testimonial-list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    #home.home-page .testimonials .testimonial-list li {
        margin: 40px 20px;
    }

    #home.home-page .testimonials .testimonial-list li img {
        margin-top: -70px;
        width: 130px;
        height: 130px;
        border-radius: 100px;
    }
}

@media (min-width: 1200px) {

    #home.home-page header {
        min-height: 98vh;
    }

    #home.home-page .home-header h1 {
        font-size: 6em;
        line-height: .7em;
        margin-top: 250px;
    }
    
    #home.home-page .home-header h1 span{  
        font-size: .4em;
    }

    #home.home-page .text h2 {
        font-size: 3.5em;   
    }

    #home.home-page .our-history .text p {
        font-size: 2em;
    }

    #home.home-page .testimonials .text h2 {
        font-size: 3.5em; 
    }

    #home.home-page .testimonials .testimonial-list li p {
        font-size: 1.7em;
        line-height: 1em;
    }
}