* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, div, article, aside, footer, header,
main, nav, section, ul, ol, li, button, figure, select, option, p{
    display: flex;
}

body {
    margin: 0;
    flex-direction: column;
}
<<<<<<< HEAD
=======

>>>>>>> eca234b710a6b831e2634ed4f75e76f1cf109242



@media (min-width: 1200px) {
    .show-desktop {
        display:flex;
    }
    .hide-desktop {
        display: none;
    }
}