#contact.page {
    flex-direction: column;
}
#contact.page .services {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contact.page .service {
    width: 90%;
    flex-direction: column;
}

#contact.page .service img {
    width: 100%;
}
#contact.page details {
    width: 100%;
    z-index: 1;
}
#contact.page details > summary {
    display: flex;
    align-items: start;
    cursor: pointer;
    list-style: none;
}

#contact.page details > summary::-webkit-details-marker {
    display: none;
}

#contact.page .service-title {
    font-size: 1.4em;
}



#contact.page .description {
    min-height: 30px;
    padding: 5px;
    padding-left: 10px;
    line-height: 30px;
    margin-bottom: 45px;
    /* background-color: goldenrod; */
    border: #6f6868 1px solid;
    margin-top: -4px;
}

#contact.page .detail {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#contact.page .service-price {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    padding-right: 10px;
}
#contact.page .service-price p {
    margin: 0;
}

#contact.page .money  {
    font-weight: normal;
}

#contact.page .price {
    font-weight: bold;
    font-size: 1.3em;
    padding-left: 5px;
}

#contact.page .service-2 {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: flex-end;
    background-image: url("/assets/images/photos/adib-harith-fadzilah-LCXQC1kudXE-unsplash.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 245px;
    
}
