:root {
    --white: #fff;
    --black: #131515;
    --orange: #cd6900;
    --card-agend: #312516;
    --a-agend: #75430e;
    --bg-testimonials: #fff;
    --orange-foo: #c35e18;
    --grey: #b2bec3;
}